{{> header}}
<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

<div class="container" style="margin-top:15px;">

  <h3>Clientes</h3>
  <hr>
  <label for="JSESSIONID">JSESSIONID: </label>
  <input id="JSESSIONID" type="text" class="validate"><br>
  <button class="btn" id="Enviar" onclick="CargarClientesAPI()">Cargar datos Clientes</button>
  <hr>
  <div id="alertaAjax"></div>
  <div class="row" style="margin-bottom:0px;">
    <div id="loading" class="col s4 offset-s4">
      <img style="margin: 0;" src="/images/Double Ring.gif" />
      <h5 style="margin-left: 10px; position:relative; bottom:115px;">Cargando</h5>
      <p style="position:relative; bottom:56px;" id="CargadosCantidad"></p>
    </div>
  </div>
<table id="tablaSolicitudes" class="display" style="width:100%">
  <thead>
      <tr>
          <th>CUIT</th>
          <th>Razon Social</th>
          <th>Posicion IVA</th>
          <th>Posicion IIBB</th>
          <th>Nro IIBB</th>
      </tr>
  </thead>
  <tbody>
    {{#each clientes}}
      <tr>
          <td>{{this._id}}</td>
          <td>{{this.razonsocial}}</td>
          <td>{{this.posicionIVA}}</td>
          <td>{{this.posicionIIBB}}</td>
          <td>{{this.numeroIIBB}}</td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
      <tr>
        <th>CUIT</th>
        <th>Razon Social</th>
        <th>Posicion IVA</th>
        <th>Posicion IIBB</th>
        <th>Nro IIBB</th>
      </tr>
  </tfoot>
</table>

</div>
<!-- /.container -->
<script type="text/javascript">
  function CargarClientesAPI() {
    var direccion = "/APIClientes"
    var sesionID = document.getElementById('JSESSIONID').value;
    $.ajax(
      {
        url: direccion,
        type: 'POST',
        data: { sesionID: sesionID },
        success: function(result){
          $('#alertaAjax')[0].innerHTML = "<div class='alert alert-success' role='alert'>" + result.message + "</div>" +
                                          "<div class='alert alert-success' role='alert'>Clientes Cargados: " + result.clientesCargados + "</div>";
        },
        error: function(error){
            //alert('error');
            $('#alertaAjax')[0].innerHTML = "<div class='alert alert-danger' role='alert'>" + error.responseJSON.message + "</div>"
        }
    });
  };
  function Cerrar() {
    document.getElementById('errores').innerHTML = "";
  };
</script>
